// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// Home row mods macro

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
&bootloader  &none  &none  &none      &none      &none          &none       &none  &none  &none
&none        &sl 5  &sl 3  &sl 1      &none      &none          &sl 2       &sl 4  &sl 6  &none
&none        &none  &none  &none      &none      &none          &none       &none  &none  &none
                           &kp SPACE  &kp TAB    &kp BACKSPACE  &lt 0 BSPC
            >;
        };

        alfa_1 {
            bindings = <
&none  &none  &none  &none      &none      &none          &none       &none  &none  &none
&none  &none  &none  &none      &none      &none          &kp E       &kp N  &kp I  &none
&none  &none  &none  &none      &none      &none          &none       &none  &none  &none
                     &kp SPACE  &kp TAB    &kp BACKSPACE  &lt 0 BSPC
            >;
        };

        alfa_2 {
            bindings = <
&none  &none  &none  &none      &none      &none          &none       &none  &none  &none
&none  &kp A  &kp R  &kp L      &none      &none          &none       &none  &none  &none
&none  &none  &none  &none      &none      &none          &none       &none  &none  &none
                     &kp SPACE  &kp TAB    &kp BACKSPACE  &lt 0 BSPC
            >;
        };

        alfa_3 {
            bindings = <
&none  &none  &none  &none      &none      &none          &none       &none  &none  &none
&none  &none  &none  &none      &none      &none          &none       &none  &none  &none
&none  &none  &none  &none      &none      &none          &none       &none  &none  &none
                     &kp SPACE  &kp TAB    &kp BACKSPACE  &lt 0 BSPC
            >;
        };

        alfa_4 {
            bindings = <
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
                     &none  &none    &none  &none
            >;
        };

        alfa_5 {
            bindings = <
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
                     &none  &none    &none  &none
            >;
        };

        alfa_6 {
            bindings = <
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
                     &none  &none    &none  &none
            >;
        };
    };
};
