// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// Home row mods macro

&sl { release-after-ms = <500>; };

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };

        shift_caps_word: shift_caps_word {
            compatible = "zmk,behavior-tap-dance";
            label = "SHIFT_CAPS_WORD";
            #binding-cells = <0>;
            bindings = <&sk LSHFT>, <&caps_word>;
        };

        sk_mod: sk_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "SK_MOD";
            bindings = <&sk>, <&mo>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    macros {
        wtile_mouse_switch: wtile_switch {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&mo 7 &kp SEMI>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&kp SEMI &mo 7>;

            label = "WTILE_SWITCH";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
&bootloader       &none     &none      &none            &none      &none          &none                &none           &none         &none
&shift_caps_word  &sl 5     &sl 3      &sl 1            &none      &none          &sl 2                &sl 4           &sl 6         &none
&none             &sk LALT  &sk LSHFT  &sk_mod LCTRL 9  &none      &none          &sk_mod LCTRL 9      &sk LEFT_SHIFT  &sk LEFT_ALT  &none
                                       &lt 8 SPACE      &kp TAB    &kp BACKSPACE  &wtile_mouse_switch
            >;
        };

        alfa_1 {
            bindings = <
&none  &none  &none  &none      &none      &none  &none       &none  &none  &none
&none  &kp S  &kp O  &kp T      &none      &none  &kp E       &kp N  &kp I  &none
&none  &none  &none  &none      &none      &none  &none       &none  &none  &none
                     &kp SPACE  &kp TAB    &to 0  &lt 0 BSPC
            >;
        };

        alfa_2 {
            bindings = <
&none  &none  &none  &none      &none      &none  &none       &none  &none  &none
&none  &kp A  &kp R  &kp L      &none      &none  &kp U       &kp D  &kp Y  &none
&none  &none  &none  &none      &none      &none  &none       &none  &none  &none
                     &kp SPACE  &kp TAB    &to 0  &lt 0 BSPC
            >;
        };

        alfa_3 {
            bindings = <
&none  &none  &none  &none      &none      &none  &none       &none  &none  &none
&none  &kp P  &kp M  &kp K      &none      &none  &kp C       &kp G  &kp H  &none
&none  &none  &none  &none      &none      &none  &none       &none  &none  &none
                     &kp SPACE  &kp TAB    &to 0  &lt 0 BSPC
            >;
        };

        alfa_4 {
            bindings = <
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none    &none  &kp W  &kp B  &kp F  &none
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
                     &none  &none    &none  &none
            >;
        };

        alfa_5 {
            bindings = <
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
                     &none  &none    &none  &none
            >;
        };

        alfa_6 {
            bindings = <
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
                     &none  &none    &none  &none
            >;
        };

        mouse {
            bindings = <
&none      &none  &none  &none      &none           &none  &none  &none  &none  &none
&kp LSHFT  &none  &kp W  &none      &none           &none  &kp J  &kp K  &none  &none
&none      &kp A  &kp S  &kp D      &none           &none  &none  &none  &none  &none
                         &kp SPACE  &kp LEFT_ALT    &none  &none
            >;
        };

        navigation {
            bindings = <
&none  &none  &none  &none  &none    &none       &none      &none     &none      &none
&none  &none  &none  &none  &none    &none       &kp LEFT   &kp UP    &kp RIGHT  &none
&none  &none  &none  &none  &none    &none       &none      &kp DOWN  &none      &none
                     &none  &none    &kp ESCAPE  &kp ENTER
            >;
        };

        numbers {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &kp N1  &kp N2  &kp N3  &trans    &trans  &kp N7  &kp N8  &kp N9  &trans
&trans  &kp N4  &kp N5  &kp N6  &trans    &trans  &kp N0  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };
    };
};
