#define _QMARK LS(MINUS) // ?
#define _MINUS FSLH // -
#define _UNDERSCORE LS(FSLH) // _
#define _HASH LS(N3) // #
#define _STAR PIPE // *
#define _PLUS MINUS // +
#define _LPAR LS(N8) // (
#define _RPAR LS(N9) // )
#define _SLASH AMPS // /
#define _BSLH RA(NUBS) 
#define _PERCENT LS(N5) // %
#define _DOUBLE_QUOTES LS(N2) // "
#define _SINGLE_QUOTES BSLH // '
#define _LEFT_BRACE RA(N7) // {
#define _RIGHT_BRACE RA(N0) // }
#define _AT RA(N2) // @
#define _DOLLAR RA(N4) // $
#define _EQUAL RPAR // =
#define _EXCL EXCL // !
#define _LT NUBS // <
#define _GT LS(NUBS) // >
#define _LBKT RA(N8) // [
#define _RBKT RA(N9) // ]
#define _AMPS CARET // &
#define _PIPE RA(EQUAL) // |
#define _AE SEMI // æ
#define _OE APOS // ø
#define _AA LBKT // å